@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  min-width: 100%;
  min-height: 100vh;
}